<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        <style>
            .resizable-column {
                width: 40%
            }

            table {
                width: 80%
            }
        </style>
    </head>
    <body>
        <h1>About</h1>
        <p>These are the awesome details about my page.</p>
        <br>
        <h2>Source of Data</h2>
        <P>The Data Used was sourced from <a href="https://archive.ics.uci.edu/dataset/10/automobile" target="_blank">UCI Machine Learning Repository</a></P>

        <br>
        <h2>Variable Definition</h2>

        <table border="1">
            <thead>
                <tr>
                  <th>Variable Name</th>
                  <th>Role</th>
                  <th>Type</th>
                  <th class="resizable-column">Description</th>
                  <th>Missing Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>highway-mpg</td>
                    <td>Feature</td>
                    <td>Continuous</td>
                    <td>continuous from 16 to 54</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>compression-ratio</td>
                    <td>Feature</td>
                    <td>Continuous</td>
                    <td>continuous from 7 to 23</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>fuel-system</td>
                    <td>Feature</td>
                    <td>Categorical</td>
                    <td>1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>engine-size</td>
                    <td>Feature</td>
                    <td>Continuous</td>
                    <td>continuous from 61 to 326</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>engine-type</td>
                    <td>Feature</td>
                    <td>Categorical</td>
                    <td>dohc, dohcv, l, ohc, ohcf, ohcv, rotor</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>curb-weight</td>
                    <td>Feature</td>
                    <td>Continuous</td>
                    <td>continuous from 1488 to 4066</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>height</td>
                    <td>Feature</td>
                    <td>Continuous</td>
                    <td>continuous from 47.8 to 59.8</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>width</td>
                    <td>Feature</td>
                    <td>Continuous</td>
                    <td>continuous from 60.3 to 72.3</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>length</td>
                    <td>Feature</td>
                    <td>Continuous</td>
                    <td>continuous from 141.1 to 208.1</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>drive-wheels</td>
                    <td>Feature</td>
                    <td>Categorical</td>
                    <td>4wd, fwd, rwd</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>body-style</td>
                    <td>Feature</td>
                    <td>Categorical</td>
                    <td>hardtop, wagon, sedan, hatchback, convertible</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>aspiration</td>
                    <td>Feature</td>
                    <td>Binary</td>
                    <td>std, turbo</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>fuel-type</td>
                    <td>Feature</td>
                    <td>Binary</td>
                    <td>diesel, gas</td>
                    <td>no</td>
                  </tr>
                  <tr>
                    <td>make</td>
                    <td>Feature</td>
                    <td>Categorical</td>
                    <td>alfa-romero, audi, bmw, chevrolet, dodge, honda, isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen, volvo</td>
                    <td>no</td>
                  </tr>
            </tbody>
        
        </table>
          
        <br>
        <br>
        <br>
          
    </body>
</html>